<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Flichain</title>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://flichain-flichain.amvera.io/style.css"
		/>
	</head>

	<body>
		<div
			class="container"
			id="exchanger"
		>
			<div class="header">
				<a href="https://flichain-flichain.amvera.io/"
					><img src="https://flichain-flichain.amvera.io/static/logo.png"
				/></a>

				<div class="title-wrap">
					<div class="right-text">
						<div class="flip-wrap">
							<div class="flip">ETH</div>
							<div class="flip">FLI</div>
							<div
								class="flip"
								style="color: #b045e8"
							>
								SOL
							</div>
							<div
								class="flip"
								style="color: #0098ea"
							>
								TON
							</div>
							<div
								class="flip"
								style="color: #6fbcf0"
							>
								SUI
							</div>
						</div>
					</div>
					<div class="left-text">CHAIN</div>
				</div>
			</div>

			<div class="bodyf">
				<div v-if="page === 'index'">
					<div v-if="stage === 1">
						<div class="input_wrap">
							<span>You send</span>

							<div class="exchange-input-from exchange-input-wrapper">
								<input
									type="number"
									class="exchange-input"
									v-model="amountFrom"
									:min="min"
									:max="max"
								/>

								<div
									:class="{
										'select-cryptos': true,
										'select-cryptos--active': activeCrypto.from
									}"
								>
									<p
										class="select-cryptos__title"
										@click="openCryptoFrom"
									>
										<span> {{ currencyFrom.name }} </span>
									</p>
									<div class="select-cryptos__options">
										<div
											v-for="option in optionsFrom"
											:key="option.name"
											:class="{
											'select-cryptos__option': true,
											'select-cryptos__option--selected' : option.isSelected 
										}"
											@click="changeCryptoFrom(option.name)"
										>
											<img
												:src="option.image"
												style="margin-bottom: -3.5px"
											/>
											{{ option.name }}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="input_wrap">
							<span
								>You get
								<p>no hidden fee</p></span
							>

							<div class="exchange-input-to exchange-input-wrapper">
								<input
									type="number"
									class="exchange-input"
									disabled
									v-model="amountTo"
								/>

								<div
									:class="{
										'select-cryptos': true,
										'select-cryptos--active': activeCrypto.to
									}"
								>
									<p
										class="select-cryptos__title"
										@click="openCryptoTo"
									>
										{{ currencyTo.name }}
									</p>
									<div class="select-cryptos__options">
										<div
											v-for="option in optionsTo"
											:key="option.name"
											:class="{
											'select-cryptos__option': true,
											'select-cryptos__option--selected': option.isSelected
										}"
											@click="changeCryptoTo(option.name)"
										>
											<img
												:src="option.image"
												style="margin-bottom: -3.5px"
											/>
											{{ option.name }}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="input_wrap">
							<span>Recipient Wallet</span>
							<input
								type="text"
								class="exchange-input exchange-input--text"
								v-model="userAddress"
							/>
						</div>
						<button
							style="cursor: pointer"
							@click="confirmTransaction"
						>
							FAST SWAP
						</button>
					</div>

					<div v-if="stage >= 2">
						<div class="step2_wrap">
							<span class="step2"
								>Send <span>{{ amountFrom }} {{ currencyFrom.name }}</span> to this address:</span
							>
							<div class="ref_wrap_link">
								<p style="white-space: normal; display: inline-block; width: 100%">
									{{ adminAddress }}
									<img
										src="https://flichain-flichain.amvera.io/static/icons8-copy-30.png"
										@click="copyInClipboard(adminAddress)"
									/>
								</p>
							</div>

							<span class="step2">
								Final <span>{{ currencyTo.name }}</span> amount: <span>{{ amountTo }}</span>
								<br />
								<br />
								Your address:
								<span style="white-space: normal; display: inline-block; width: 100%"
									>{{userAddress}}</span
								>
							</span>

							<div class="steps_wrap">
								<div
									class="steps_wrap__item"
									v-for="status in statuses"
									:key="status.name"
								>
									<div class="exchanger-status__svgs">
										<div
											class="exchanger-status__svg"
											v-if="!status.status"
										>
											<svg
												viewBox="0 0 100 100"
												preserveAspectRatio="xMidYMid"
												width="29"
												height="29"
												style="transform: translateZ(0px)"
											>
												<circle
													cx="50"
													cy="50"
													fill="none"
													stroke="#4b9cdb"
													stroke-width="10"
													r="35"
													stroke-dasharray="164.93361431346415 56.97787143782138"
													transform="rotate(138 50 50)"
												>
													<animateTransform
														attributeName="transform"
														type="rotate"
														calcMode="linear"
														values="0 50 50;360 50 50"
														keyTimes="0;1"
														dur="1s"
														begin="0s"
														repeatCount="indefinite"
													></animateTransform>
												</circle>
											</svg>
										</div>
										<div
											class="exchanger-status__svg"
											v-if="status.status"
										>
											<img
												src="./static/icons8-done-64.png"
												style="height: 30px; width: 30px"
											/>
										</div>
									</div>

									{{ status.name }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div v-if="page === 'friends'">
					<div class="ref_wrap">
						<span class="title">Friends</span>

						<div class="ref_wrap_link">
							<span>invite</span>
							<p>
								{{refLink}}
								<img
									src="https://flichain-flichain.amvera.io/static/icons8-copy-30.png"
									@click="copyInClipboard(refLink)"
								/>
							</p>
						</div>
						<span class="invtitle">You invited: {{referralSubscribers.length}} peoples</span>
						<ul
							class="ref_list"
							v-if="viewRefSubs"
						>
							<li
								v-for="sub in referralSubscribers"
								:key="sub.referrerID"
							>
								{{ sub.referrerName }}
							</li>
						</ul>
					</div>
				</div>

				<div class="btn_bot">
					<a @click="changePage('index')"><img src="https://flichain-flichain.amvera.io/static/123.png" /></a>
					<a @click="changePage('friends')"
						><img src="https://flichain-flichain.amvera.io/static/345.png"
					/></a>
					<a href="https://t.me/+Q-yM91iqoB9lMzIy"
						><img src="https://flichain-flichain.amvera.io/static/567.png"
					/></a>
				</div>
			</div>
		</div>
	</body>

	<script src="https://telegram.org/js/telegram-web-app.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://flichain-flichain.amvera.io/main.js"></script>
</html>
